extends base

block content
  main.main
    .login-form
      - const theTitle = signup === true ? 'Create Account' : 'Log into your account'
      h2.heading-secondary.ma-bt-lg= theTitle
      if signup
        form.form.form--signup
          .form__group
            label.form__label(for='name') Your Name
            input#name.form__input(type='name', placeholder='your name', required)
          .form__group
            label.form__label(for='email') Email address
            input#email.form__input(type='email', placeholder='you@example.com', required)
          .form__group.ma-bt-md
            label.form__label(for='password') Password
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group.ma-bt-md
            label.form__label(for='confirmpassword') Confirm Password
            input#confirmpassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group
            button.btn.btn--green Sign Up
      else
        form.form.form--login
          .form__group
            label.form__label(for='email') Email address
            input#email.form__input(type='email', placeholder='you@example.com', required)
          .form__group.ma-bt-md
            label.form__label(for='password') Password
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group
            button.btn.btn--green Login
