extends base

block content
  main.main
    ul
      item
        checkbox
          input#access(type='checkbox',checked)
          label.checkbox__label accessibility 
      item
        checkbox
          input#parking(type='checkbox',checked)
          label.checkbox__label parking
      item
        input#search(type='submit',value='חפש')
      item
        icon.input
          input#place(style='text-align: right',type='text',placeholder='עיר / שכונה / יישוב')
          i.search.link.icon
      item
        input#distance(type='number',value='6')

    .card-container
      each rest in rests
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              -const higherRes = rest.Pic_Url.replace("250", "493");
              img.card__picture-img(src=`https://motwebmediastg01.blob.core.windows.net/nop-thumbs-images/${higherRes}`, alt=`${rest.Name}`)
            h3.heading-tertirary
              span= rest.Name

          .card__details
            a.card__sub-heading(href=`${rest.URL}`)='קישור לאתר'
            p.card__text(style="text-align: right")= rest.ShortDescription
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= rest.City
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-info')
              -const accessibility = rest.Accessibility ? 'נגיש לנכים' : 'לא נגיש לנכים'
              span=accessibility
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-truck')
              -const parking = rest.Parking ? 'חנייה' : 'ללא חניה'
              span=parking

          .card__footer
            p.card__ratings
              span.card__footer-value= rest.ratingsAverage
              | 
              span.card__footer-text= `rating (${rest.ratingsQuantity})`
            a.btn.btn--green.btn--small(href=`/restaurant/${rest.slug}`) Details
