extends base
include _reviewCard

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')


mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src='/img/wp1833704-israel-wallpapers.jpg', alt=`${rest.Name}`)

    .heading-box
      h1.heading-primary-1
        span= `${rest.Name}`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text(style="text-align: right")= `${rest.ShortDescription}`

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts
          +overviewBox('', rest.Type_of_Kashrut, 'info')
          +overviewBox('', rest.City, 'home')

    .description-box
      h2.heading-secondary.ma-bt-lg= 'Full Description'
      - const text = rest.FullDescription.replace(/<[^>]*>?/gm, '');
        p.description__text(style="text-align: right")= text 

  section.section-map
    #map(data-location=`${JSON.stringify(rest.Location)}`)

